@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../stylemain.css";
@import "../productslider.css";

* {
    font-family: 'Roboto';
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}


a {
    display: flex;
}

.hide {
    display: none;
}

.prodetails h4,
h2,
h5 {

    padding-bottom: 0.4rem;

}

#llayer1 {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: rgb(222, 225, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 2rem;
    border-top: 1px solid #383838;
    border-bottom: .5px solid #383838;
    box-shadow: 0 2.5px 5px #b1b1b18e;

}

.logoimg {

    height: 3.9rem;
    width: 3.8rem;



}

#llayer2 {
    padding: .5rem 1rem 1rem 1rem;
    display: flex;

}

#left {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 82.5px;
    width: 36%;
    padding: .7rem .5rem .5rem .5rem;
    box-sizing: border-box;
    margin-left: .4rem;
    margin-right: 0.5rem;
    height: max-content;
    border: 1.2px solid rgb(185, 184, 184);
    border-radius: .2rem;

}

/* .singleproimg {

   
}
#mainimg {} */

.single-single {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95%;
    height: 20rem;
    margin-left: 0.8rem;
}



#wishlistbtn {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    padding: .5rem .4rem .5rem .4rem;
    background-color: rgb(250, 250, 250);
    border: 0.5px solid rgb(250, 250, 250);
    border-radius: 10rem;
    cursor: pointer;


}

.singleproimg .fa-heart {
    color: rgba(176, 176, 176, 0.9);
}

.singleproimg button:hover .fa-heart {
    color: rgb(253, 82, 82);
}

.singleproimg button:focus .fa-heart {

    color: rgb(253, 82, 82);
}

.smallimggroup {

    padding: .6rem;


}

.smallimgcol {

    flex: 0 0 auto;
    margin-right: .5rem;
    width: 85px;
    height: 78px;
    border: 1.5px solid rgb(218, 218, 218);
    border-radius: .12rem;
    padding: .2rem;
    transition: .2s ease-out;
    cursor: pointer;

}



.smallimgcol:focus {
    border: 1px solid black;
}

.image-container {
    padding: 0 2.5vw 0 3.5vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.image-container::-webkit-scrollbar {
    display: none;
}


.prev-btn,
.next-btn {
    width: 2.5vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(206, 206, 206, 0) 0%, rgba(143, 142, 142, 0.552) 100%);
    border: .3px solid rgb(224, 224, 224);
    cursor: pointer;
    z-index: 1;
    border-left: none;
}

.prev-btn {
    border-left: none;
    left: 0;
    transform: rotate(180deg);

}

.next-btn {
    right: 0;

}

.prev-btn img,
.next-btn img {
    display: block;
    opacity: 0.1;
}

.prev-btn:hover img,
.next-btn:hover img {
    opacity: 1;
}


/* ss */

.lund {
    padding: 1rem;
    background-color: rgb(238, 173, 52);
    border: none;
    width: 49%;
    margin: 0 0 0 0;
    cursor: pointer;
}

.lund h3 {
    display: inline;
}

.lund:hover i,
h3 {
    scale: 1.1;
}

#right {
    width: 60%;
    position: relative;
    left: 2%;
}

.prodetails {
    display: block;

}

.prodetails h4,
h2,
h5 {

    padding-bottom: 0.4rem;

}

.prodetails p:first-child {
    padding: 0.5rem 0rem 0.3rem 0rem;
    font-size: smaller;
}

.rati button {

    background-color: green;
    width: fit-content;
    padding: .1rem 0.2rem .1rem .2rem;
    border-radius: .2rem;
    border: none;
    color: white;
    font-size: small;
}

.rati p {
    display: inline-flex;
    padding: .7rem;
    font-size: smaller;

}

.disc {
    display: inline;
    text-decoration: line-through;
    color: rgb(84, 83, 83);
    padding-bottom: 5rem;
}

.disc1 {
    padding-left: .5rem;
    display: inline;
    color: rgb(3, 100, 3);

}


.warlogo {
    display: flex;
    align-items: center;
    padding: 0.3rem 0 0.3rem 0;
    font-size: small;
    box-sizing: content-box;
}

#logomc {
    width: 5rem;
    height: 1.9rem;
    padding-right: 1rem;

}

.warlogo img {
    width: 5rem;
    height: 2.8rem;
}




ul li {
    list-style-type: none;
    font-size: medium;
    padding-left: 0rem;
    padding-bottom: 0.3rem;

}

.fa-tag {
    color: rgb(5, 109, 5);

}


hr {
    border-top: 1px solid rgba(197, 196, 196, 0.742);
}

.description {
    border: 1px solid rgba(184, 184, 184, 0.742);
    padding-bottom: 0.8rem;
    box-sizing: border-box;
    padding: 0.7rem .8rem .7rem 1rem;
    border-radius: .1rem;
    margin-bottom: 1rem;
}

#myBtn {
    background-color: transparent;
    border: none;
    color: rgb(50, 50, 156);
    padding-top: .5rem;
    padding-left: 0.3rem;
    font-size: medium;
    cursor: pointer;
}

th {
    align-content: initial;
    text-align: left;
    text-align: start;
    width: fit-content;
    padding: 1rem 2rem .5rem 0rem;

}

td {
    font-size: smaller;
    align-content: initial;
    text-align: left;
    text-align: start;
    width: fit-content;
    padding: 0.3rem 2rem .2rem .5rem;
}

td:nth-of-type(1) {
    width: 10rem;
    color: #979696;
    font-weight: 600;
}

.bar {
    width: 10%;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.bar-body {

    padding: 0.5rem;
    display: inline;
    align-items: center;
}

.value-bar {
    align-items: center;

    display: flex;
    height: 12px;
    background: #282828;
    width: 10rem;
    border-radius: 3px;
}

.value-per {
    padding-left: 1rem;
    height: 12px;
    background: #d13639;
    border-radius: 3px;
    width: 50px;

}



.review {
    display: block;
}

/* review image section */
.revImgContainer {
    display: flex;
    justify-content: space-between;
    padding: .3rem 2vw;
    border: 1px solid rgba(231, 230, 230, 0.742);
    border-radius: .5rem;
    cursor: pointer;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.revImgContainer::-webkit-scrollbar {
    display: none;
}

.revimg {
    width: 7em;
    height: 6.7rem;
    padding: .2rem;
}


.back-btn,
.for-btn {
    display: flex;
    width: 2vw;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgb(243, 243, 243);
    border: .3px solid rgb(231, 230, 230);
    background: white;
    cursor: pointer;
    z-index: 1;

}

.back-btn {
    border-right: none;
}

.for-btn {
    right: 0;
    border-left: none;


}


.back-btn:hover .fa-circle-chevron-left,
.for-btn:hover .fa-circle-chevron-right {

    color: rgb(0, 102, 255);
    scale: 1.05;
    transition: .4s ease-in-out;
}


.zz {
    margin-bottom: 1rem;
}

#more {
    display: none;
}

.istar {
    display: inline;
    background-color: green;
    width: fit-content;
    padding: .1rem 0.2rem .1rem .2rem;
    border-radius: .2rem;
    border: none;
    color: white;
    font-size: small;
}

.istar-p {
    display: inline;
    font-size: small;
}

.text {
    padding: 1rem 1.8rem 1rem 1.8rem;
}

.llayer3 h2 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;

}

.llayer3 {
    padding-bottom: .5rem;
}

.zz {
    border: 1px solid rgba(184, 184, 184, 0.742);
    /* padding-bottom: 0.8rem; */
    box-sizing: border-box;
    padding: 0.7rem .8rem .7rem 1rem;
    border-radius: .1rem;

}

.zz h4 {
    display: inline;
}

.content {
    padding: 0.4rem 0rem 0rem 0rem;
}

.zz button {

    border: none;
    background-color: transparent;
    color: rgb(25, 25, 201);
    cursor: pointer;
    padding-top: .3rem;

}

.userrev {

    font-size: smaller;
    color: rgb(147, 150, 150);
    padding: 0.3rem 0rem 0.5rem 0rem;

}

.post {

    border: 1px solid grey;
}




.bar {
    width: 20rem;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.bar-body {
    padding: 0.2rem 0 .2rem 0;
    display: flex;
    align-items: center;
}

.value-bar {

    height: 8px;
    background: #e8e7e7;

    border-radius: 2px;
}

.value-per {
    padding-left: 0rem;
    height: 8px;
    background: green;
    border-radius: 3px;
    width: 9rem;
    /* position: relative; */
    /* animation: fillBars 2.5s 1; */
}

#star1 {
    background: red;
}

#star2 {
    background-color: orange;

}

#star3 {
    background-color: rgb(198, 217, 75);
}

#star4 {
    background-color: rgb(154, 227, 46);

}

pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
}